body {
	background-color: #cccccc;
	padding: 0;
	margin: 0;
}

.titlebar {
	position: fixed;
	width: 100%;
	height: 50px;
	background-color: #383838aa;
	margin: 0;
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	flex-direction: row;
	box-shadow: 0 0 20px 3px rgba(0, 0, 0, .50);
	z-index: 500;
	gap: 10px;
	backdrop-filter: blur(10px);
	box-sizing: border-box;
}

.titlebar-right {
    margin-left: auto;
    display: flex;
    align-items: center; /* Ensures vertical alignment */
    gap: 7px;
}

.titlebar-right a {
	height: 24px;
	transition-duration: 0.1s;
	border-radius: 5px;
	padding: 3px;
	border: 0px solid #00000000;
}

.titlebar-right a:hover {
	background-color: #ffffff20;
	scale: 1.05;
	border: 1px solid #00000030;
}

.titlebar-right a:active {
	background-color: #00000020;
	scale: 0.95;
	border: 1px solid #00000020;
}


p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Inter Regular';
	color: white;
	margin: 0;
}

.projectname {
	margin: 16px 0px;
	font-family: 'Roboto Regular';
}

.light-color {
	background-color: #383838ee;
	backdrop-filter: blur(10px);
}

.dark-color {
	background-color: #202020ee;
	backdrop-filter: blur(10px);
}

.gizmo-manager {
	position: fixed;
	top: 50px;
	margin: 10px;
	display: flex;
	flex-direction: row;
	gap: 5px;
}

.tiny-btn {
    border: 2px solid #404040;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #00000050;
    z-index: 500;
    scale: 1;
    transition-duration: 0.15s;
}

.tiny-btn img {
	margin: inherit;
}

.tiny-btn:hover {
	scale: 1.05;
	background-color: #404040ee;
	border: 2px solid #555555;
}

.tiny-btn:active {
	scale: 0.95;
	background-color: #353535ee;
	border: 2px solid #404040;
}

.dropdown .titlebar-dropdown {
	position: fixed;
	margin: 10px;
	background-color: #383838ee;
	box-shadow: 0 0 20px 3px rgba(0, 0, 0, .50);
	z-index: 500;
	backdrop-filter: blur(10px);
	width: 200px;
	height: auto;
	gap: 10px;
	padding: 7px;
	border-radius: 10px;
	top: 50px;
	right: 0px;
	pointer-events: none;
	opacity: 0;
}

.dropdown .titlebar-dropdown button {
	width: 100%;
	padding: 10px;
	font-family: 'Inter Regular';
	color: white;
	background: #ffffff00;
	text-align: left;
	border: none;
	border-radius: 10px;
	transition-duration: 0.1s;

}

.dropdown .titlebar-dropdown button:hover {
	background: #ffffff20;
	scale: 1.05;
}

.dropdown .titlebar-dropdown button:active {
	background: #00000020;
	scale: 0.95;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    pointer-events: none;

  }
  to {
    opacity: 1;
    pointer-events: all;

  }
}

.fade-in {
  animation: fadeIn 0.2s ease-in-out forwards;
}

@keyframes fadeout {
  from {
    opacity: 1;
    pointer-events: all;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}

.fade-out {
  animation: fadeout 0.2s ease-in-out forwards;
}

.script-editor {
	background-color: #202020;
	position: fixed;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	touch-action: none;
	pointer-events: none;
	display: none;	
}

/*.CodeMirror {
	position: fixed;
	top: 50px;
	width: 100%;
	height: calc(100% - 50px);
	text-align: left;
	background-color: transparent !important;
	border: none;
	outline: none;
	padding: 20px;
  font-size: 20px;
  font-family: 'Roboto Monospace';
  resize: none;
  box-sizing: border-box;
  color: white;
}*/

.CodeMirror {
	position: fixed;
	top: 50px;
	width: 100%;
	height: calc(100% - 50px);
	background-color: transparent !important;
	padding: 20px;
  font-size: 20px;
  font-family: 'Roboto Monospace';
  resize: none;
  box-sizing: border-box;
}


/*element.create('textarea', '', 'azutextinput').then(elm => elm
    .window('azutextwin')
    .css(styling)
    .position('fixed')
    .width('calc(100% - 6px)')
    .height('calc(100% - 6px)')
    .placeholder('Write Something :3')
    .align('center')
    .attribute('wrap', 'soft')
    .color('white')
    .backgroundcolor('transparent')
    .border('none')
    .outline('none')
    .padding('20px')
);*/